@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("font.css");

:root {
  --font-family: "vazir";
  --color-primary: #1D4ED8;
  --color-primary-darker: hsl(from var(--color-primary) h s calc(l - 5));
  --color-primary-darkest: hsl(from var(--color-primary) h s calc(l - 10));
  --color-primary-foreground: #FFFFFF;
}

body {
  font-family: var(--font-family);
}
